@inject NavigationManager NavigationManager

@if (server is not null)
{
    <div style="color: @(server.IsOnline ? "green" : "red")">
        @server.Name is in @server.City and the @server.Name is @(server.IsOnline ? "online" : "offline")
        &nbsp;
        <button type="button" class="btn btn-primary" @onclick="statuschange">Turn on/Off</button>
    </div>

}
@code {
    [CascadingParameter(Name = "SelectedCity")]
    public string? selectedCity { get; set; }
    [Parameter]
    public Server? server { get; set; }

    private void statuschange()
    {
        if (server is not null)
        {
            server.IsOnline = !server.IsOnline;
        }
    }

}
